
<div id="meme">
	<img src="meowrito.png" style="width:400">
	<h2 style="
    color: floralwhite; font-family: serif; font-variant-ligatures: initial; 
    font-size: -webkit-xxx-large; font-family: impact; position: absolute; 
    top: -5; 
    left: 120; text-shadow: 2px 2px 0px #FF0000;
    width: 300;
"><%= top %>
</h2>
	<h2 style="
    font-family: impact;
    color: bisque;
    position: absolute;
    top: 320;
    left: 70;
    font-size: xxx-large;
    text-shadow:  2px 2px 0px #FF0000;
	"><%= bottom %></h2>
</div>
<form action="/" method="get">
	<input type="text" name="top" placeholder="TOP TEXT" />
	<input type="text" name="bottom" placeholder="BOTTOM TEXT" />
	<input type="submit"></input>
</form>
    <img src="" id="image">

<button id="create-button">catreate your meme</button>
<script type="text/javascript" src="html2canvas.js"></script>
<script type="text/javascript" src="meme.js"></script>


